<div [ngClass]="inline ? 'bkPopUp inline' : 'bkPopUp'">
    <div class="popUp">
        <div class="row hb bb1">
            <div class="col-12 h4">
                Resumen de Proveedores
            </div>
        </div>
        <div class="row">
          <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        </div>
        <div class="row p10">
            <table class="table table-bordered table-striped table-hover no-footer principal">
                <thead>
                    <tr>
                        <th>Criterio</th>
                        <th>Categoría</th>
                        <th>Calificación Promedio</th>
                        <th>N° De Proveedores Evaluados</th>
                        <th>Cantidad OC</th>
                        <th>Calificación General Ponderada</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Productos</td>
                        <td class="center text-white" [ngClass]="{
                          'bg-success': reporteProductos.promedio > 2.55,
                          'bg-warning': reporteProductos.promedio <= 2.55 && reporteProductos.promedio > 1.8,
                          'bg-danger': reporteProductos.promedio <= 1.8
                        }">
                          <span *ngIf="reporteProductos.promedio > 2.54">A</span>
                          <span *ngIf="reporteProductos.promedio > 1.80 && reporteProductos.promedio < 2.55">B</span>
                          <span *ngIf="reporteProductos.promedio < 1.81">C</span>
                        </td>
                        <td>{{reporteProductos.promedio | number:'1.2-2'}}</td>
                        <td>{{reporteProductos.cantidadProveedores}}</td>
                        <td>{{reporteProductos.cantidadOC}}</td>
                        <td>{{reporteProductos.general / 3 * 100 | number:'1.0-0'}}%</td>
                    </tr>
                    <tr>
                      <td>Servicio</td>
                        <td class="center text-white" [ngClass]="{
                          'bg-success': reporteServicios.promedio > 2.55,
                          'bg-warning': reporteServicios.promedio <= 2.55 && reporteServicios.promedio > 1.8,
                          'bg-danger': reporteServicios.promedio <= 1.8
                        }">
                          <span *ngIf="reporteServicios.promedio > 2.54">A</span>
                          <span *ngIf="reporteServicios.promedio > 1.80 && reporteServicios.promedio < 2.55">B</span>
                          <span *ngIf="reporteServicios.promedio < 1.81">C</span>
                        </td>
                        <td>{{reporteServicios.promedio | number:'1.2-2'}}</td>
                        <td>{{reporteServicios.cantidadProveedores}}</td>
                        <td>{{reporteServicios.cantidadOC}}</td>
                        <td>{{reporteServicios.general / 3 * 100 | number:'1.0-0'}}%</td>
                    </tr>
                    <tr>
                      <td>SubContrato</td>
                        <td class="center text-white" [ngClass]="{
                          'bg-success': reporteSubcontrato.promedio > 2.55,
                          'bg-warning': reporteSubcontrato.promedio <= 2.55 && reporteSubcontrato.promedio > 1.8,
                          'bg-danger': reporteSubcontrato.promedio <= 1.8
                        }">
                          <span *ngIf="reporteSubcontrato.promedio > 2.54">A</span>
                          <span *ngIf="reporteSubcontrato.promedio > 1.80 && reporteSubcontrato.promedio < 2.55">B</span>
                          <span *ngIf="reporteSubcontrato.promedio < 1.81">C</span>
                        </td>
                        <td>{{reporteSubcontrato.promedio | number:'1.2-2'}}</td>
                        <td>{{reporteSubcontrato.cantidadProveedores}}</td>
                        <td>{{reporteSubcontrato.cantidadOC}}</td>
                        <td>{{reporteSubcontrato.general / 3 * 100 | number:'1.0-0'}}%</td>
                    </tr>
                    <tr>
                      <th>Resultado general</th>
                      <th class="center text-white" [ngClass]="{
                        'bg-success': (reporteProductos.promedio + reporteServicios.promedio + reporteSubcontrato.promedio) / 3 > 2.55,
                        'bg-warning': (reporteProductos.promedio + reporteServicios.promedio + reporteSubcontrato.promedio) / 3 <= 2.55 && (reporteProductos.promedio + reporteServicios.promedio + reporteSubcontrato.promedio) / 3 > 1.8,
                        'bg-danger': (reporteProductos.promedio + reporteServicios.promedio + reporteSubcontrato.promedio) / 3 <= 1.8
                      }">
                        <span *ngIf="(reporteProductos.promedio + reporteServicios.promedio + reporteSubcontrato.promedio) / 3 > 2.54">A</span>
                        <span *ngIf="(reporteProductos.promedio + reporteServicios.promedio + reporteSubcontrato.promedio) / 3 > 1.80 && (reporteProductos.promedio + reporteServicios.promedio + reporteSubcontrato.promedio) / 3 < 2.55">B</span>
                        <span *ngIf="(reporteProductos.promedio + reporteServicios.promedio + reporteSubcontrato.promedio) / 3 < 1.81">C</span>
                      </th>
                      <th></th>
                      <th>{{reporteProductos.cantidadProveedores + reporteServicios.cantidadProveedores + reporteSubcontrato.cantidadProveedores}}</th>
                      <th>{{reporteProductos.cantidadOC + reporteServicios.cantidadOC + reporteSubcontrato.cantidadOC}}</th>
                      <th>{{(reporteProductos.general + reporteServicios.general + reporteSubcontrato.general) / 3 * 100 | number:'1.0-0'}}%</th>
                    </tr>
                    <tr>
  <td> Proveedores a sustituir</td>
  <td class="center text-white" [ngClass]="{
    'bg-success': reporteSustituir.promedio > 2.55,
    'bg-warning': reporteSustituir.promedio <= 2.55 && reporteSustituir.promedio > 1.8,
    'bg-danger': reporteSustituir.promedio <= 1.8
  }">
    <span *ngIf="reporteSustituir.promedio > 2.54">A</span>
    <span *ngIf="reporteSustituir.promedio > 1.80 && reporteSustituir.promedio < 2.55">B</span>
    <span *ngIf="reporteSustituir.promedio < 1.81">C</span>
  </td>
  <td></td>
  <td>{{reporteSustituir.cantidadProveedores}}</td>
  <td>{{reporteSustituir.cantidadOC}}</td>
  <td>{{reporteSustituir.general / 3 * 100 | number:'1.0-0'}}%</td>
</tr>
                </tbody>
            </table>
        </div>
        <div class="row" *ngIf="!inline">
          <div class="col-md-offset-6 col-6">
            <button class="btn btn-secondary" (click)="Cerrar()">Salir</button>
          </div>
        </div>
    </div>
</div>