<li class="titulos">
    <div>
        N°
    </div>
    <div>
        Nombre o razón social
    </div>
    <div>
        RUT
    </div>
    <div>
        Categoría
    </div>
    <div>
        Calificación
    </div>
    <div>
        SSO Y MA
    </div>
    <div>
        Disponibilidad
    </div>
    <div>
        Variabilidad de precio
    </div>
    <div>
        Tiempo de entrega
    </div>
    <div>
        Calidad del producto
    </div>
    <div>
        N° de evaluaciones
    </div>
    <div>
        Ponderación
    </div>
    <div>
        Evaluación ponderada
    </div>
</li>
