table{
    margin-top: 10px;
    /* table-layout: fixed; */
}

th{
    background-color: #0070c0;
    color: white;
    text-transform: capitalize !important;
    text-align: center;
}

thead tr th{
    position: sticky;
    top: 0;
}

td{
    text-align: right;
}

.text{
    text-align: left;
}

tbody tr td:nth-child(14){
    font-weight: bold;
}

tr *:nth-child(n+1){
    width: 7%;
}

tr *:nth-child(1){
    width: 9%;
}

.tipoGasto{
    background-color: #797979;
    color: white;
    text-align: center;
    font-weight: bold;
}

.myCollapse {
    visibility: collapse;
}

.fleft{
    float: left;
    font-size: 17px;
    margin-top: 2px;
    height: 10px;
    margin-left: -7px;
}