<ng-template #NoData>
  <app-pop-up-login-fixed></app-pop-up-login-fixed>
</ng-template>

<div class="row">
  <div class="col-2 col-md-offset-10">
    <mat-select placeholder="Año" [(ngModel)]="agno" (change)="getData()">
      <mat-option *ngFor="let item of years$ | async" [value]=item>{{item}}</mat-option>
    </mat-select>
  </div>
</div>

<!-- <mat-tab-group mat-align-tabs="start">
  <mat-tab label="Tipo de gasto">
    <app-contenido-tabla-operacional [contenido]="tabla" [inversiones]="inversiones"></app-contenido-tabla-operacional>
    
  </mat-tab>
  <mat-tab label="Sub Tipo de gasto"> -->
<ng-container *ngIf="reporteOperacional$ | async as reporteOperacional else NoData">
  <app-contenido-tabla-operacional-sub-tipo [contenido]="reporteOperacional"></app-contenido-tabla-operacional-sub-tipo>
</ng-container>

<div class="row">
  <div class="col-6">
    <ng-container *ngIf="reporteOperacional$ | async as reporteOperacional">
      <app-grafico-tipo-gasto
        [data]="reporteOperacional | filterOperacionales:['RETIROS','INVERSIONES']"></app-grafico-tipo-gasto>
    </ng-container>
  </div>
  <div class="col-6">
    <button type="button" class="btn btn-default historical-toggle" *ngIf="!historicoCargado"
      (click)="cargarHistorico()">
      <mat-icon aria-hidden="true">timeline</mat-icon>
      Cargar histórico de años
    </button>
    <ng-container *ngIf="historicoCargado && (reporteOperacionalYears$ | async) as operacionalYears; else chartLoading">
      <app-grafico-operacional-agnos *ngIf="operacionalYears.length; else chartUnavailable" [tiposGastos]="operacionalYears">
      </app-grafico-operacional-agnos>
    </ng-container>
  </div>
</div>

<ng-template #chartLoading>
  <div class="graph-loading-placeholder"></div>
</ng-template>


<ng-template #chartUnavailable>
  <div class="graph-loading-placeholder"></div>
</ng-template>
<!-- </mat-tab>
</mat-tab-group> -->

<app-loading *ngIf="loading"></app-loading>