.barTitle {
    font-size: 16px;
}

.Folio {
    font-size: 1.2em;
    font-weight: 600;
}

.gray {
    background-color: #cacaca;
}

.acciones{
    margin-top: 10px;
}

.Descripcion{
    font-weight: bold;
    text-align: center;
}

.w100{
    width: 100%;
}

.padLeftRight{
    padding: 0px 46px;
}