<div class="row b1T" (click)="claseToggle()">
  Detalle
  <i class="fa fa-sort-desc"></i>
</div>
<div id="desplegable" class="row h0D">
  <div class="col-12">
      <div class="row bb1">
          <div class="col-8"></div>
          <div class="col-2 bold">Gasto</div>
          <div class="col-2 bold">IVA</div>
      </div>
      <div class="row bb1">
          <div class="col-8 bold">
              Saldo actual Centro de costo
          </div>
          <div class="col-2">$ {{detalleCentroCosto.total - (detalleCentroCosto.real + detalleCentroCosto.proyectado) | number : '1.0-0' | comatopoint}}</div>
      </div>
      <div class="row bb1">
          <div class="col-8 bold">Pagos confirmados + Proyectado</div>
          <div class="col-2">$ {{detalleCentroCosto.real + detalleCentroCosto.proyectado | number : '1.0-0' | comatopoint}}</div>
          <div class="col-2 red">$ - {{detalleCentroCosto.ivareal + detalleCentroCosto.ivaproyectado | number : '1.0-0' | comatopoint}}</div>
      </div>
      <div class="row bb1">
          <div class="col-8 bold">Pagos confirmados del Proyecto</div>
          <div class="col-2">$ {{detalleCentroCosto.real | number : '1.0-0' | comatopoint}}</div>
          <div class="col-2 red">$ - {{detalleCentroCosto.ivareal | number : '1.0-0' | comatopoint}}</div>
      </div>
      <div class="row">
          <div class="col-8 bold">Pagos proyectado</div>
          <div class="col-2">$ {{detalleCentroCosto.proyectado | number : '1.0-0' | comatopoint}}</div>
          <div class="col-2 red">$ - {{detalleCentroCosto.ivaproyectado | number : '1.0-0' | comatopoint}}</div>
      </div>
  </div>
</div>