<div class="firmas center">
    <div class="row">
        <div class="col-6">
            <ul class="Firma">
                <li>Usuario actual</li>
                <li class="bold">Preparado por {{creador}}</li>
            </ul>
        </div>
        <div class="col-6">
            <ul class="Firma FloatRight">
                <li>Aprobador</li>
                <li class="bold">autorizado por</li>
            </ul>
            <img class="FirmaImg" *ngIf="Estado == 2" src="assets/firmaJaime.png" alt="Firma">
        </div>
    </div>
</div>