<app-loading *ngIf="loading"></app-loading>

<div class="centro-costo-page">
    <section class="widget form-widget">
        <header style="background-color: #555555">
            <h4>
                <strong>Creacion Centro De Costos</strong>
            </h4>
        </header>

        <div class="widget-body form-widget-body">
            <div class="row form-layout single-card-layout">
                <div class="col-lg-4 form-column form-column-left">
                    <div class="form-section-title">
                        <strong>Area de negocio</strong>
                    </div>
                    <form>
                        <fieldset>
                            <legend></legend>
                            <app-add-area-negocio (addAreaNegocio)="reloadAreaNegocio()"></app-add-area-negocio>
                        </fieldset>
                    </form>
                </div>

                <div class="col-lg-8 form-column form-column-right">
                    <div class="form-section-title">
                        <strong>Centro de costos</strong>
                    </div>
                    <form>
                        <fieldset>
                            <legend></legend>
                            <app-add-centro-costo (addCentroCostoEvent)="reloadCentroCosto()"></app-add-centro-costo>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<app-lista-centros-costo (configBolsa)="configurarBolsas($event)" (configIngreso)="configurarIngresos($event)"
    (configContrato)="configurarContratos($event)" (configGarantia)="garantiaCentroCostos($event)"></app-lista-centros-costo>

<!-- 
<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <header style="background-color: #555555">
                <h2 style="color: white;">
                    <strong>Mis centros de costo</strong>
                </h2>
            </header>

            <div class="widget-body">
                <fieldset>
                    <legend></legend>

                    <div class="row">
                        <div class="col-12"> -->
<!-- {{eCentroCosto | json}} ---------------- {{eSubCentroCostoDatos | json}} -->
<!-- <table class="table table-bordered table-striped table-hover no-footer">
                                <thead>
                                    <tr>
                                        <td>Area de negocio</td>
                                        <td class="text-center">Centro de costo</td>
                                        <td>Acciones</td> -->
<!-- <td>Letras</td> -->
<!-- </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let elementos of tabla | paginate: { itemsPerPage: 10, currentPage: p } | filtraCentroCostoActivo; let iPadre = index">
                                        <td class="align-middle" (click)="popUp(elementos)">{{elementos.centroCosto}}
                                        </td>
                                        <td class="align-middle text-center" (click)="popUp(elementos)"
                                            [ngStyle]="{'background-color':elementos.fondo, 'color':elementos.letras}">
                                            {{elementos.subCentroCosto}}
                                        </td> -->
<!-- <td>
                                                    <div class="dvCircle" [ngStyle]="{'background-color':elementos.fondo, 'color':elementos.letras}">
                                                        aAbBcCdD
                                                    </div>
                                                </td> -->
<!-- <td class="acciones">
                                            <button mat-raised-button color="primary" matTooltip="Bolsas"
                                                [matTooltipPosition]="'above'" (click)="configurarBolsas(elementos)">
                                                <i class="fa fa-gears"></i>
                                            </button>
                                            <button mat-raised-button color="primary" matTooltip="Ingresos"
                                                [matTooltipPosition]="'above'" (click)="configurarIngresos(elementos)">
                                                <i class="fa fa-money"></i>
                                            </button>
                                            <button mat-raised-button color="primary" matTooltip="Contratos"
                                                [matTooltipPosition]="'above'" (click)="configurarContratos(elementos)">
                                                <i class="fa fa-plus-circle"></i>
                                            </button>
                                            <button mat-raised-button color="primary" matTooltip="Garantias"
                                                [matTooltipPosition]="'above'"
                                                (click)="garantiaCentroCostos(elementos)">
                                                <i class="fa fa-usd"></i>
                                            </button>
                                        </td> -->
<!-- <td >
                                        </td> -->
<!-- </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>

                </fieldset>
            </div>
        </section>
    </div>
</div> -->

<app-edit-centro-costo [eCentroCosto]="eCentroCosto" [indiceSub]="indiceSub"
    *ngIf="eCentroCosto && eSubCentroCostoDatos" (loadingEmit)="cargando($event)" (cerrarEmit)="Limpiar()"
    (carDatos)="CargaDatos()"></app-edit-centro-costo>
<app-config-bolsas *ngIf="confBolsa" [centroCosto]="confBolsa" (cerrar)="confBolsa=null"></app-config-bolsas>
<app-config-ingresos *ngIf="confIngresos" [centroCosto]="confIngresos" (cerrar)="confIngresos=null">
</app-config-ingresos>
<app-add-contrato *ngIf="confContratos" [centroCosto]="confContratos" (cerrar)="confContratos=null">
</app-add-contrato>
<app-garantias *ngIf="garantiaCentroCosto" [centroCosto]="garantiaCentroCosto" (cerrar)="garantiaCentroCosto=null">
</app-garantias>
<!-- <app-bolsas *ngIf="bolsa" [centroCosto]="bolsa" (cerrar)="bolsa=null"></app-bolsas> -->