<!-- <div class="bkPopUp">
  <div class="popUp">
      <div class="row hb bb1">
          <div class="col-8 h4">
            Gráfica Facturación por Centro de Costo
          </div>
      </div>
      <div class="row p10">
          <div class="col-8 col-md-offset-2"> -->
<div class="row">
    <div class="col-9">
        <canvas id="pieCentroCosto"></canvas>
    </div>
    <div class="col-3 datos">
        <app-tabla-resumen-graficos [ResumenAgno]="data"></app-tabla-resumen-graficos>
    </div>
</div>
<!-- </div>
      </div>
      <div class="row">
          <div class="col-md-offset-6 col-6">
              <button class="btn btn-secondary" (click)="Cerrar()">Salir</button>
          </div>
      </div>
  </div>
</div> -->
