<div class="row TzS">
    <div class="col-2 tzs-logo">
        <img src="http://www.trazas-nbi.com/assets/tzs.jpg" alt="TzS">
    </div>
    <div class="col-10 tzs-copy">
        <div class="row">
            <div class="col-12 bold">
                TRAZAS GESTION DE PROYECTOS DE INFRAESTRUCTURA LTDA
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                RUT: 76.151.605-1
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                Cirujano Guzman 24 Depto 83
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                Comuna providencia
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                fono
            </div>
            <div class="col-11">
                2 2982 9588 - 2 2492 0809
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                Giro
            </div>
            <div class="col-11">
                Arquitectura - Construcción
            </div>
        </div>
    </div>
</div>