.navbar-nav>.nav-item>.nav-link {
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
}

.user-nav,
.user-nav-list {
    margin: 0;
    padding: 0;
}

.user-nav-list .nav-item,
.user-nav-list .nav-link {
    display: flex;
    align-items: center;
}

.dropdown-toggle-notifications {
    gap: 8px;
    line-height: 1;
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-toggle-notifications .avatar {
    float: none;
    margin-right: 0;
}

.dropdown-toggle-notifications .caret {
    margin-top: 0;
}