<!-- <div class="bkPopUp">
    <div class="popUp"> -->
        <div class="row hb bb1">
            <div class="col-5 h4 bold">
                Gráficos Consolidado Montos
            </div>
            <div class="col-5 col-md-offset-2 h4 bold">
                Gráficos Consolidado Rentabilidad
            </div>
        </div>
        <div>
            <div class="row d-flex justify-content-center">
                <div class="col-5">
                    <canvas id="lineUtilidadAnual"></canvas>
                </div>
            <!-- </div>
        </div>
        <div>
            <div class="row d-flex justify-content-center"> -->
                <div class="col-5 col-md-offset-2">
                    <canvas id="barRentabilidadAnual"></canvas>
                </div>
            </div>
        </div>
        <!-- <div class="row mtop">
            <div class="col-md-offset-6 col-6">
                <button class="btn btn-secondary" (click)="Cerrar()">Salir</button>
            </div>
        </div> -->
    <!-- </div>
</div> -->
